a {
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
}
/* 未連結 */
a:link {
}
/* 已連結過 */
a:visited {
}
/* 滑鼠移至連結 */
a:hover {
  text-decoration: underline;
  background-color: linen; /*lavender color*/
  border-radius: 4px;
}
/* 選擇的連結 */
a:active {
}

body {
  color: #222;
  font-size: 16px;
  font-family: "Lucida Sans", sans-serif;
  background-image: url(/static/ricepaper_v3/ricepaper_v3.png);
  text-align: left;
}

nav {
  width: 100%;
  min-height: 50px;
  white-space: nowrap;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;
}

nav a {
  color: #777;
  margin: 0;
  padding: 0.8em 0.2em;
  float: left;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

nav li {
  position: relative;
}

footer {
  color: #777;
  font-size: 0.8em;
  padding: 0.2em 1.2em;
  background-color: rgba(255, 255, 255, 0.6);
}

#container {
  margin: 0 auto;
  max-width: 600px;
}

#navbar {
  padding: 0.2em 1.2em;
  background-color: rgba(255, 255, 255, 0.6);
}

#navbar input {
  width: 100%;
}

#content {
  margin: 1.2em 0;
  line-height: 1.4em;
}

#content a {
  color: blue;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

#brief {
  padding: 0.2em 1.2em;
  background-color: rgba(255, 255, 255, 1);
}

#course {
  padding: 0.2em 1.2em;
  background-color: rgba(255, 255, 255, 0.6);
}

#course li {
  border-bottom: 1px;
}

#course span {
  margin: 0.1em 0.2em;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

#course .register {
  background-color: lightgray;
  font-size: 0.8em;
}

#course .applying {
  color: darkred;
  background-color: lightyellow;
}

#about {
  padding: 0.2em 1.2em;
  background-color: rgba(255, 255, 255, 1);
}

/* Add responsive layout for cell phone and small device */
@media screen and (max-device-width: 768px) {
  nav a {
    padding: 0.6em 0.2em;
    font-size: 0.9em;
  }
}
