<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <!-- html5 meta -->
    <meta charset="UTF-8">
    <meta name="author" content="Hans Liu">
    <meta name="description" content="eTraining Course Finder 是一個支援快速尋找產業人才投資方案課程的網站">
    <meta name="keywords" content="etraining, 產投, 勞動部, 產業人才投資方案">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <base target="{% block basetarget %}_self{% endblock %}">

    <title>{% block title %}Taiwan eTraining Course Finder{% endblock %}</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

    <!-- parser -->
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="baiduspider" content="index, nofollow">

    <!-- fb -->
    <meta property='fb:admins' content='{% if config.FACEBOOK_USER_ID %}{{ config.FACEBOOK_USER_ID }}{% endif %}'>
    <meta property='fb:app_id' content='{% if config.FACEBOOK_APP_ID %}{{ config.FACEBOOK_APP_ID }}{% endif %}'>

    <!-- og -->
    <meta property="og:title" content="{% block ogtitle %}Taiwan eTraining Course Finder{% endblock %}">
    <meta property="og:type" content="{% block ogtype %}website{% endblock %}">
    <meta property="og:url" content="{% block ogurl %}{{ request.url }}{% endblock %}">
    <meta property="og:description" content="eTraining Course Finder 是一個支援快速尋找產業人才投資方案課程的網站">

    <!-- cdn css -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- css -->
    <link href="/static/normalize.css" rel="stylesheet">
    <link href="/static/pure-min.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">

    <!-- javascript -->
</head>
<body>
    <div id="container">

        <div id="navbar">
            <nav>
                <a href="/" target="_self"><i class="fa fa-home fa-fw fa-lg"></i> eTrainingCourseFinder</a>
                <ul>
                    <li><a href="/about" target="_self"><i class="fa fa-qrcode fa-fw fa-lg"></i> About</a></li>
                </ul>
            </nav>
            <form class="pure-form" action="/" target="_self" method="post">
                <fieldset>
                  <input id="query" type="text" name="query" placeholder="請在這欄輸入課程名稱或單位" value="{{ query }}">
                </fieldset>
            </form>
            <div class="fb-like" data-href="{{ request.url_root }}" data-width="400" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
        </div>

        <header>
        </header>

        <!--[if lt IE 10]>
        <div class='old-ie'>
            <p>你的瀏覽器有點太舊囉！這個瀏覽器可能會沒辦法正常瀏覽這個網站，建議你更換一個瀏覽器或升級現在的瀏覽器。</p>
            <ol>
                <li><a title='換成速度最快的 Chrome' target='_blank' href='https://www.google.com/chrome'>Get Chrome</a></li>
                <li><a title='享受有許多附加套件的 Firefox' target='_blank' href='http://mozilla.com.tw/firefox/'>Get Firefox</a></li>
                <li><a title='升級原本的瀏覽器' target='_blank' href='http://windows.microsoft.com/zh-TW/internet-explorer/download-ie'>Upgrade IE</a></li>
            </ol>
            <p></p>
        </div>
        <![endif]-->

        <div id="content">
            {% block content %}
            <div id="brief">
                <h2>網站介紹</h2>

                <p> 這個網站提供使用者快速尋找<a href="http://tims.etraining.gov.tw/timsonline/index.aspx">『勞動部勞動力發展署-產業人才投資方案』</a>上面開放的產投課程（目前收集的課程範圍只有臺北市和新北市），使用者可以透過關鍵字搜尋，就可以找到相關的課程名稱、開課地點、開訓日期、報名日期等詳細資訊，也可以透過點擊開課代號，直接連結到勞動部網站的課程細節，瀏覽課程師資、課表大綱與線上報名。</p>
            </div>
            {% endblock %}
        </div>

        <footer>
            <h4>免責聲明</h4>

            <p>本網站所載的所有資料、課程名稱、開課地點、開訓日期、報名日期等（以下簡稱「資料」），只供參考之用。<a href="http://tims.etraining.gov.tw/timsonline/index.aspx">『勞動部勞動力發展署-產業人才投資方案』</a>隨時可能更改資料。雖然本網站作者已盡力確保本網站的資料準確性，但本網站作者不會明示或隱含保證該等資料均為準確無誤。本網站作者不會對該等資料的任何錯誤或遺漏承擔責任。</p>
        </footer>
    </div>

{% if config.FACEBOOK_APP_ID %}
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '{{ config.FACEBOOK_APP_ID }}',
            status     : true,
            xfbml      : true,
            version    : 'v2.3'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/{{ config.FACEBOOK_APP_FORMAT }}/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
{% endif %}
</body>
</html>
