{% extends "base.html" %}

{% block content %}
{% if query %}
<div id="course">
    {% if course_list %}
        {% for item in course_list %}
        <ul class="fa-ul">
            <li>
                <span><a href="http://tims.etraining.gov.tw/timsonline/index3.aspx?OCID={{ item.id }}" target="_blank"><i class="fa-li fa fa-hand-o-right fa-fw"></i>課程代號: {{ item.id|trim }}</a></span>
                <br>
                <span class="city">開課地點: {{ item.city|trim }}</span><span class="opening">上課時間: {{ item.opening|trim }} 到 {{ item.ending|trim }}</span>
                <br>
                <span class="applying">報名日期: {{ item.applying|trim }}</span>
                <br>
                <span class="name">課程名稱/單位: {{ item.name|trim }}</span>
                <br>
                <span class="sponsor">{{ item.sponsor|trim }}</span>
                <br>
                <span class="register">訓練人數 {{ item.register|trim }} 人</span>
            </li>
        </ul>
        {% endfor %}
    {% else %}
        <h2>找不到課程</h2>

        <p>啊喔！這個關鍵字找不到相關課程呢！可能是勞動部此年度沒有開設相關的課程，你可以嘗試其他課程關鍵字，或直接輸入「臺北市」或「新北市」等區域來尋找該地區開設的所有課程。</p>
    {% endif %}
</div>
{% endif %}
{% endblock %}
