{% extends "base.html" %}
{% block basetarget %}_blank{% endblock %}

{% block title %}About Taiwan eTraining Course Finder{% endblock %}

{% block content %}
<div id="about">
    <h2>關於本站</h2>

    <p>網站建置採用的是 <a href="https://www.python.org">Python3</a> 搭配 <a href="https://github.com/mitsuhiko/flask">Flask</a> 架構。在課程資料來源的部份，網站透過 <a href="http://docs.seleniumhq.org">Selenium</a> 套件收集<a href="http://tims.etraining.gov.tw/timsonline/index.aspx">『勞動部勞動力發展署-產業人才投資方案』</a>上面公開的課程資料，然後將課程資料建置索引之後儲存於 <a href="https://www.sqlite.org">Sqlite3</a> 的資料庫中。</p>

    <p>同時 <b>eTrainingCourseFinder</b> 也是一個開放原始碼的專案，所有的程式碼（包含本站程式碼）都可以在 <a href="https://github.com/hansliu/etraining-course-finder-heroku">hansliu/etraining-course-finder-heroku</a> 找到。</p>

    <h2>關於作者</h2>

    <p>網站的作者 <a href="http://www.hansliu.com">Hans Liu</a> 是一位喜歡 <a href="https://www.python.org">Python</a> 程式語言的工程師，喜歡用 <a href="https://www.python.org">Python</a> 寫些有趣的東西。如果你對於這個網站有任何建議與問題，都可以透過電子信箱來與他聯絡。</p>

    <p>電子信箱： hansliu.tw (at) gmail.com</p>

    <h2>關於資源</h2>

    <p>網站使用的背景圖片來自於 <a href="http://subtlepatterns.com/">Subtle Patterns</a> 這個素材庫，部分的 CSS 設計則是來自於 <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a> 和 <a href="http://purecss.io/">Pure.css</a> 這兩個函式庫。</p>
</div>
{% endblock %}
