{% extends "base.html" %}
{% block basetarget %}_blank{% endblock %}

{% block title %}About The eTraining Course Finder in Taiwan{% endblock %}

{% block content %}
<div id="about">
    <h1>關於本站</h1>

    <p>這個網站提供使用者快速尋找 <a href="http://tims.etraining.gov.tw/timsonline/index.aspx">『勞動部勞動力發展署-產業人才投資方案』</a> 上面開放的產投課程，使用者可以透過關鍵字搜尋，就可以找到相關的課程名稱、開課地點、開訓日期、報名日期等詳細資訊，也可以透過點擊開課代號，直接連結到勞動部網站的課程細節，瀏覽課程師資、課表大綱與線上報名。</p>

    <p>這個網站建置採用的是 <a href="http://www.python.org/">Python3</a> 搭配 <a href="http://flask.pocoo.org/">Flask</a> 架構，在資料來源的部份，本網站使用 <a href="http://docs.seleniumhq.org">Selenium</a> 收集勞動部勞動力發展署網站公開的課程資料，並將課程資料建置索引之後儲存於 <a href="https://www.sqlite.org/">Sqlite3</a> 的資料庫中。</p>

    <p>同時 <a href="https://github.com/hansliu/ecourse-finder">eCourseFinder</a> 也是一個開放原始碼的專案，所有的程式碼 (包含本站程式碼) 都可以在 <a href="https://github.com/hansliu/ecourse-finder">hansliu/ecourse-finder</a> 找到。</p>

    <h1>關於作者</h1>

    <p>作者 <a href="http://www.hansliu.com">Hans Liu</a> 是一位喜歡 <a href="http://www.python.org">Python</a> 程式語言的工程師，閒暇時喜歡用 <a href="http://www.python.org">Python</a> 寫些有趣的東西。如果你對於這個網站有任何建議與問題，都可以透過電子信箱來與他聯絡。</p>

    <p>電子信箱： jlhcxu_6 (at) yahoo.com.tw</p>

    <h1>關於資源</h1>

    <p>網站使用的背景圖片來自於 <a href="http://subtlepatterns.com/">Subtle Patterns</a> 這個素材庫。</p>

    <p>網站使用的部分 CSS 來自於 <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a> 和 <a href="http://purecss.io/">Pure.css</a> 這兩個函式庫。</p>
</div>
{% endblock %}
